@-webkit-keyframes changecolour {
    0% {
        fill: #f907ed;
    }

    15% {
        fill: #078fff;
    }

    30% {
        fill: #ff0000;
    }

    45% {
        fill: #00ffff;
    }

    60% {
        fill: #ff8c00;
    }

    75% {
        fill: #ff006e;
    }

    85% {
        fill: #00ff87;
    }

    100% {
        fill: #4cff00;
    }
}

@-moz-keyframes changecolour {
    0% {
        fill: #f907ed;
    }

    15% {
        fill: #078fff;
    }

    30% {
        fill: #ff0000;
    }

    45% {
        fill: #00ffff;
    }

    60% {
        fill: #ff8c00;
    }

    75% {
        fill: #ff006e;
    }

    85% {
        fill: #00ff87;
    }

    100% {
        fill: #4cff00;
    }
}

@keyframes changecolour {
    0% {
        fill: #f907ed;
    }

    15% {
        fill: #078fff;
    }

    30% {
        fill: #ff0000;
    }

    45% {
        fill: #00ffff;
    }

    60% {
        fill: #ff8c00;
    }

    75% {
        fill: #ff006e;
    }

    85% {
        fill: #00ff87;
    }

    100% {
        fill: #4cff00;
    }
}
