/*Colours*/

$font-color-primary: #ffffff;

/*Fonts*/

$font-primary:  "Nova Cut", cursive;
$font-secondary: "Akronim", cursive;
$font-tertiary: "Times New Roman", sans-serif;

/*Grid*/
$grid-width: 100rem;
$gutter-vertical: 4rem;