//VARIABLES

/*Colours*/

$font-color-primary: #ffffff;

/*Fonts*/

$font-primary: "Akronim", cursive;
$font-secondary: "Nova Cut", cursive;
$font-tertiary: "Times New Roman", sans-serif;

//MIXINS

@mixin transform-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


//RESET

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//BASE

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

html, body {
    height: 100%;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $font-color-primary;
}

//TYPOGRAPHY

a {
    color: $font-color-primary;
    text-decoration: none;
}


//BACKGROUND VIDEO

.background-video {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*Custom video controls*/

.play-pause {
    position: fixed;
    z-index: 10;
}

//MENU

.primary-menu {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    li {
        position: absolute;
        display: inline-block;
        padding: 2rem;

        a {
            font-size: 4rem;
        }

    }

    li:nth-child(1) {
        left: 0;
        top: 0;

        a {
            font-family: $font-tertiary;
        }

    }

    li:nth-child(2) {
        right: 0;
        top: 0;
    }

    li:nth-child(3) {
        left: 0;
        bottom: 0;

        a {
            font-family: $font-secondary;
        }

    }

    li:nth-child(4) {
        right: 0;
        bottom: 0;
    }

}


//LOGO

.custom-logo {
    position: absolute;
    max-width: 200px;
    height: auto;
    @include transform-center;
}
